@keyframes moveUp {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }

  50% {
    transform: translate(0px, -75px);
    // display: unset;
    opacity: 0.5;
  }

  100% {
    transform: translate(0px, 0px);
    // display: unset;
    opacity: 1;
  }
}

@keyframes moveDown {
  0% {
    // transform: translate(0px, -25px);
    opacity: 1;
  }

  50% {
    // transform: translate(0px, 125px);
    // display: unset;
    opacity: 0.3;
  }

  100% {
    // transform: translate(0px, -100px);
    // display: unset;
    opacity: 0;
  }
}

@keyframes animHeader {
  0% {
    height: 400px;
  }

  50% {
    height: 280px;
  }

  100% {
    height: 200px;
  }
}

@keyframes animLogo {
  0% {
    width: 220px;
  }

  50% {
    width: 180px;
  }

  100% {
    width: 150px;
  }
}

.initialShown {
  opacity: 0;
}

.moveUpx {
  animation-name: moveUp;
  animation-duration: 1s;
  // animation-direction: alternate;
  animation-iteration-count: 1;
  animation-delay: initial;
  animation-timing-function: ease-in-out;
}

.moveDownx {
  animation-name: moveDown;
  animation-duration: 1s;
  // animation-direction: alternate;
  animation-iteration-count: 1;
  animation-delay: initial;
  animation-timing-function: linear;
}

body {
  background-color: black;
  color: rgb(255, 255, 255);
  // text-align: center;
  height: 100%;
  font-family: "Raleway-Light";
  font-size: 16px;
}



.topStories {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3px;
}

.logo-select {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-rows: 3fr 35px 50px 35px 50px 50px;
  height: 400px;
  margin-bottom: 100px;
}

.logo {
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: center;
}

h6 {
  margin-bottom: 3px;
  font-size: 15px;
}

.mainTitle {
  grid-row: 2/3;
  grid-column: 2/3;
}

.selectric-selectSection,
.selectric {
  grid-row: 3/4;
  grid-column: 2/3;
}

.titleSubSection {
  grid-row: 4/5;
  grid-column: 2/3;
}

.selectric-selectSubSection,
.selectric {
  grid-row: 5/6;
  grid-column: 2/3;
}

p {
  text-align: center;
  width: 100%;
}

footer {
  display: grid;
  grid-template-columns: 0px 1fr; //This gap of 50px could be a var used inside the items
  grid-template-rows: 50px;
  justify-items: center;
  align-items: center;
  color: #c2c2c2; //Use as var...
}

h5 {
  grid-column: 2/3;
  justify-items: start;
  align-items: center;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  width: 100%;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5%;
  width: auto;
}

@media only screen and (min-width: 480px) {
  .logo-select {
    align-items: center; //Just this mq
    justify-items: center; //Just this mq
  }

  .mainTitle,
  .titleSubSection {
    align-self: end;
  }

  .selectric-selectSection,
  .selectric-selectSubSection {
    align-self: start;
  }
}
@media only screen and (min-width: 600px) {
  //   .eachArticle {
  //   width: 33%;
  // }

  .logo-select {
    display: grid;
    grid-template-columns: 2fr 1fr minmax(155px, 1fr) 2fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 2fr;
  }

  .logo {
    grid-row: 1/7;
    grid-column: 2/3;
    align-self: center;
  }
  .mainTitle {
    grid-row: 3/4;
    grid-column: 3/4;
  }

  .selectric-selectSection {
    grid-row: 4/5;
    grid-column: 3/4;
  }

  .titleSubSection {
    grid-row: 4/5;
    grid-column: 3/4;
  }

  .selectric-selectSubSection {
    grid-row: 5/6;
    grid-column: 3/4;
  }

  .topStories {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1240px) {
  //   .eachArticle {
  //   width: 25%;
  // }

  .logo-select {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 2fr;
    //Just this mq
    // justify-items: center; //Just this mq
    // height: 300px;
  }

  .logo {
    grid-row: 1/7;
    grid-column: 1/2;
    align-self: center;
  }
  .mainTitle {
    grid-row: 3/4;
    grid-column: 2/3;
    justify-self: start;
  }

  .selectric-selectSection {
    grid-row: 4/5;
    grid-column: 2/3;
    justify-self: start;
  }

  .titleSubSection {
    grid-row: 4/5;
    grid-column: 2/3;
    justify-self: start;
    align-self: end;
  }

  .selectric-selectSubSection {
    grid-row: 5/6;
    grid-column: 2/3;
    justify-self: start;
    align-self: start;
  }

  .topStories {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  footer {
    grid-template-columns: 50px 1fr; //This gap of 50px could be a var used inside the items
    justify-items: start;
    margin-bottom: 20px;
  }

  .animHeader {
    animation-name: animHeader;
    animation-duration: 1s;
    // animation-direction: alternate;
    animation-iteration-count: 1;
    animation-delay: initial;
    animation-timing-function: ease-in-out;
    height: 200px;
  }

  .animLogo {
    animation-name: animLogo;
    animation-duration: 1s;
    // animation-direction: alternate;
    animation-iteration-count: 1;
    animation-delay: initial;
    animation-timing-function: ease-in-out;
    width: 150px;
  }

}
